
<div class="page page-table" data-ng-controller="StoreImportCtrl">
    <div ng-if="alerts.length > 0">
        <uib-alert type="{{alerts[0].type}}" close="closeAlert()">{{alerts[0].msg | translate}}</uib-alert>
    </div>
    <section class="panel panel-default table-dynamic" style="display: flow-root;">
        <div class="panel-heading clearfix">
            <strong><span data-translate="TITLE_STORE_ADJUST"></span>
            </strong>
            <a href="#store"><i class="glyphicon glyphicon-circle-arrow-left"></i> {{'LABEL_BACK_TO_STORE_LIST' | translate}}</a>
            <div class="pull-right" style="text-transform: none;">
                <button class="btn btn-info" data-ng-click="chooseFile()"><span class="glyphicon glyphicon-export"></span> {{'BTN_IMPORT' | translate}}</button>
            </div>
        </div>
        <div class="col-md-8" style="border-style: groove;border-color: aliceblue; border-bottom: none; border-left: none; border-top: none;">
            <div class="table-filters">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label data-translate="LABEL_MATERIAL_CODE"></label>
                        </div>
                        <div class="col-md-7">
                            <input type="text"
                                   placeholder="{{'MATERIAL_CODE' | translate}}"
                                   class="form-control"
                                   data-ng-model="searchCode">
                        </div>
                        <div class="col-md-3 text-center">
                            <button class="btn btn-info" data-ng-click="search()"><span class="glyphicon glyphicon-search"></span> {{'BTN_SEARCH' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dataTable" class="table-responsive">
                <table class="table table-bordered table-striped table-material">
                    <thead>
                    <tr class="bg-dark-light">
                        <th><div class="th">
                        </div></th>
                        <th><div class="th">
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_MATERIAL_CODE' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_MATERIAL_NAME' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_QUANTITY_IN_STOCK' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_QUANTITY_ADJUST' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_REAL_QUANTITY' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_NOTE' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_CAPITAL_COST' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_INTO_MONEY' | translate}}
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td>
                            <button type="button" ng-click="remove($index)" class="close text-color-red "><span>&times;</span></button>
                        </td>
                        <td>material.quantity}}</td>
                        <td>{{material.inventoryType | materialType | translate</td>
                        <td>{{material.status | materialStatus | translate</td>
                        <td>{{material.status | materialStatus | translate</td>
                        <td>{{material.status | materialStatus | translate</td>
                        <td>{{material.status | materialStatus | translate</td>
                        <td>material.status | materialStatus | translat</td>
                        <td>material.status | materialStatus | translate</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                <span>
                    {{'LABEL_SHOW'| translate}}
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt">
                    </select>
                    {{'LABEL_ENTRIES_PER_PAGE'| translate}} {{'LABEL_RESULT' | translate}} {{data.length}} record)
                </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <uib-pagination class="pagination-sm"
                                        ng-model="currentPage"
                                        total-items="data.length"
                                        max-size="4"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        boundary-links="true"></uib-pagination>
                    </div>
                </div>
            </footer>
        </div>
        <div class="col-md-4">
            <div class="text-right">
                <h5>15/08/2017 15:15:00</h5>
            </div>
            <hr>
            <div>
                <div class="form-group row">
                    <div class="col-md-5 col-right-custom">
                        <label data-translate="LABEL_COUPON_CODE"></label>
                    </div>
                    <div class="col-md-7">
                        <input type="text"
                               placeholder="{{'LABEL_COUPON_CODE_AUTO' | translate}}"
                               class="form-control border-bottom">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 col-right-custom">
                        <label data-translate="LABEL_COUPON_STATUS"></label>
                    </div>
                    <div class="col-md-7">
                        Phiếu tạm
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-right-custom">
                        <label data-translate="LABEL_COUPON_TOTAL_BY_STORE"></label>
                    </div>
                    <div class="col-md-6 col-left-custom text-right">
                        {{300000 | customCurrency}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-right-custom">
                        <label data-translate="LABEL_COUPON_TOTAL_ADJUST"></label>
                    </div>
                    <div class="col-md-6 col-left-custom text-right">
                        {{4500000 | customCurrency}}
                    </div>
                </div>
                <hr style="width: 40%;" align="right">
                <div class="form-group row">
                    <div class="col-md-6 col-right-custom">
                        <label data-translate="LABEL_COUPON_REAL_TOTAL"></label>
                    </div>
                    <div class="col-md-6 col-left-custom text-right text-color-blue">
                        {{4500000 | customCurrency}}
                    </div>
                </div>
                <div class="form-group row text-right" style="padding-top: 50px;">
                    <div class="col-md-12">
                        <button class="btn btn-info"><span class="glyphicon glyphicon-save"></span> {{'BTN_SAVE_TEMP' | translate}}</button>
                        <button class="btn btn-info"><span class="glyphicon glyphicon-save"></span> {{'BTN_FINISH' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/ng-template" id="modalChooseFile.html">
        <div class="modal-header">
            <h4 class="col-md-11">{{'LABEL_IMPORT_FROM_FILE' | translate}}</h4>
            <button type="button" ng-click="cancel()" class="close col-md-1 text-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            Xử lý dữ liệu (tải về file mẫu : Excel 2003 hoặc bản cao hơn)
            <hr>
            <div class="callout callout-warning">
                <p>Notification will show in lower right corner.</p>
                <p>Notification will show in lower right corner.</p>
                <p>Notification will show in lower right corner.</p>
                <p>Notification will show in lower right corner.</p>
                <p>Notification will show in lower right corner.</p>
                <p>Notification will show in lower right corner.</p>
            </div>
            <div class="text-right">
                <button class="btn btn-info"><span class="glyphicon glyphicon-floppy-open"></span> {{'BTN_CHOOSE_FILE' | translate}}</button>
            </div>
            <div>

            </div>
        </div>
    </script>
</div>