<div class="page" data-ng-controller="OrderDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header clearfix">
                        <div class="col-md-6 col-custom">
                            <h3>{{'EDIT_ORDER' | translate}}&nbsp;#&nbsp;{{order.donHangId}}
                                <small>
                                    <a href="#sales/order/detail?id={{order.donHangId}}"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;{{'ORDER_DETAIL' | translate}}</a>
                                </small>
                            </h3>
                        </div>
                        <div class="col-md-6 col-custom text-right">
                            <button class="btn btn-primary btn-w-md"><span class="glyphicon glyphicon-arrow-down"/>&nbsp;{{'SAVE' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default table-dynamic">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label data-translate="ORDER_NO"></label>
                                {{order.donHangId}}
                            </div>
                            <div class="form-group">
                                <label for="orderTime" data-translate="ORDER_TIME"></label>
                                <div class="input-group ui-datepicker">
                                    <input type="text"
                                           id="orderTime"
                                           class="form-control"
                                           uib-datepicker-popup="dd-MM-yyyy hh:mm:ss"
                                           ng-model="order.createdTime"
                                           is-open="popupDialog.opened"
                                           datepicker-options="datetimeOptions"
                                           date-disabled="disabled(date, mode)"
                                           ng-required="true"
                                    />
                                    <span class="input-group-addon" ng-click="datePicker()"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="orderTable" data-translate="ORDER_TABLE"></label>
                                    <input  type="number"
                                            class="form-control"
                                            id="orderTable"
                                            data-ng-model="order.banId"
                                            required>
                            </div>
                            <div class="form-group">
                                <label for="orderNote" data-translate="ORDER_NOTE"></label>
                                <textarea class="form-control" id="orderNote" ng-model="order.ghiChu" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="orderTotal" data-translate="ORDER_TOTAL"></label>
                                <input  type="text"
                                        id="orderTotal"
                                        class="form-control"
                                        data-ng-model="order.tongTien"
                                        format="currency"
                                        required>
                            </div>
                        </div>
                        <div class="col-md-8 table-responsive">
                            <section class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>
                                        <span data-translate="LIST_PRODUCT"/>
                                    </strong>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-product-custom">
                                        <thead>
                                        <tr class="bg-dark">
                                            <th>{{'PICTURES' | translate}}</th>
                                            <th>{{'PRODUCT_NAME' | translate}}</th>
                                            <th>{{'PRICE' | translate}}</th>
                                            <th>{{'QUANTITY' | translate}}</th>
                                            <th>{{'DISCOUNT' | translate}}</th>
                                            <th>{{'TOTAL' | translate}}</th>
                                            <th class="th-button"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-if="order.chiTietDonHangDTOList.length ==0"><td colspan="6" class="text-center">{{'MSG_TABLE_EMPTY' | translate}}</td></tr>
                                        <tr ng-repeat="detail in order.chiTietDonHangDTOList">
                                            <td><img src="detail.sanPhamDTO.hinhAnh" class="image-table-custom"/></td>
                                            <td><a href="#products/edit?id={{detail.sanPhamDTO.sanPhamId}}">{{detail.sanPhamDTO.tenSanPham}}</a></td>
                                            <td class="price-custom">{{detail.sanPhamDTO.donGia | customCurrency}}</td>
                                            <td>{{detail.soLuong}}</td>
                                            <td>
                                            </td>
                                            <td class="price-custom">
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" ng-click="removeProduct($index)"><span><i class="glyphicon glyphicon-trash"></i>{{'DELETE' | translate}}</span></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary" ng-click="addProduct()"><span><i class="glyphicon glyphicon-plus"></i>{{'ADD_PRODUCT' | translate}}</span></button>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>