<div class="page" data-ng-controller="OrderDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header clearfix">
                        <div class="col-md-6 col-custom">
                            <h3>{{'ORDER_DETAIL' | translate}}&nbsp;#&nbsp;{{order.donHangId}}
                                <small>
                                    <a href="#sales"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;{{'BACK_TO_SALES' | translate}}</a>
                                </small>
                            </h3>
                        </div>
                        <div class="col-md-6 col-custom text-right">
                            <a href="#sales/order/detail/edit?id={{order.donHangId}}" class="btn btn-primary btn-w-md"><i class="glyphicon glyphicon-pencil"></i>&nbsp;{{'EDIT' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default table-dynamic">
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <div>
                                    <label data-translate="ORDER_NO"></label>
                                </div>
                                <br>
                                <div>
                                    <label data-translate="ORDER_TIME"></label>
                                </div>
                                <br>
                                <div>
                                    <label data-translate="ORDER_TABLE"></label>
                                </div>
                                <br>
                                <div>
                                    <label data-translate="ORDER_NOTE"></label>
                                </div>
                                <br>
                                <div>
                                    <label data-translate="ORDER_TOTAL"></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div>{{order.donHangId}}</div>
                                <br>
                                <div class="text-row-custom">{{order.createdTime | date:'dd/MM/yyyy hh:mm:ss'}}</div>
                                <br>
                                <div class="text-row-custom">{{order.banId}}</div>
                                <br>
                                <div class="text-row-custom note">{{order.ghiChu || 'ORDER_NOTE_EMPTY' | translate}}</div>
                                <br>
                                <div class="text-row-custom">{{order.tongTien | customCurrency}}</div>
                            </div>
                        </div>

                    </div>
                        <div class="col-md-8 table-responsive">
                            <table class="table table-bordered table-striped table-product-custom">
                                <thead>
                                <tr class="bg-dark">
                                    <th>{{'PICTURES' | translate}}</th>
                                    <th>{{'PRODUCT_NAME' | translate}}</th>
                                    <th>{{'PRICE' | translate}}</th>
                                    <th>{{'QUANTITY' | translate}}</th>
                                    <th>{{'DISCOUNT' | translate}}</th>
                                    <th>{{'TOTAL' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-if="order.chiTietDonHangDTOList.length ==0"><td colspan="6" class="text-center">{{'MSG_TABLE_EMPTY' | translate}}</td></tr>
                                <tr ng-repeat="detail in order.chiTietDonHangDTOList">
                                    <td><img src="detail.sanPhamDTO.hinhAnh" class="image-table-custom"/></td>
                                    <td><a href="#products/edit?id={{detail.sanPhamDTO.sanPhamId}}">{{detail.sanPhamDTO.tenSanPham}}</a></td>
                                    <td class="price-custom">{{detail.sanPhamDTO.donGia | customCurrency}}</td>
                                    <td>{{detail.soLuong}}</td>
                                    <td>
                                    </td>
                                    <td class="price-custom">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>

            </div>
        </div>
    </section>
</div>