<div class="page" data-ng-controller="ProductDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h4>Tên sản phẩm
                            <small>
                                <a href="#products"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;{{'BACK_TO_PRODUCT_LIST' | translate}}</a>
                            </small>
                        </h4>
                    </div>
                    <div class="ui-tab-container ui-tab-horizontal">
                        <uib-tabset justified="false" class="ui-tab">
                            <uib-tab heading="{{'PRODUCT_INFO' | translate}}">
                                <form name="form_constraints" class="form-validation">
                                    <div class="form-group fit-content">
                                        <div class="col-md-6">
                                            <label for="">{{'PRODUCT_NAME' | translate}}</label>
                                            <input  type="text"
                                                    class="form-control"
                                                    required
                                                    data-ng-model="form.required">
                                            <br>
                                            <label for="">{{'PRICE' | translate}} </label>
                                            <input  type="text"
                                                    class="form-control"
                                                    required
                                                    data-ng-minlength=3
                                                    data-ng-model="form.minlength">
                                            <br>
                                            <label for="">{{'CATEGORY' | translate}}</label>
                                            <br>
                                            <span class="ui-select">
                                                <select>
                                                    <option>Mustard</option>
                                                    <option>Ketchup</option>
                                                    <option>Barbecue</option>
                                                </select>
                                            </span>
                                            <br>
                                            <br>
                                            <label for="">{{'PICTURES' | translate}}</label>
                                            <br>
                                            <div data-ng-include=" 'assets/dropzone/dropzone.html' "></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">{{'DESCRIPTION' | translate}}</label>
                                            <section class="panel panel-default">
                                                <div class="panel-body">
                                                    <div text-angular ng-model="mailContent" class="ui-editor"></div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="custom-button-bottom col-md-12">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-w-md">{{'SUBMIT' | translate}}</button>
                                                <button class="btn btn-default btn-w-md">{{'REVERT_CHANGES' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab heading="{{'PRODUCT_STRUCTURE' | translate}}">
                                <form name="form_constraints" class="form-validation">
                                    <div class="form-group fit-content">
                                        <div class="col-md-6">
                                            <label for="">{{'DESCRIPTION' | translate}}</label>
                                            <section class="panel panel-default">
                                                <div class="panel-body">
                                                    <div text-angular ng-model="mailContent" class="ui-editor"></div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">{{'MATERIALS' | translate}}</label>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr class="bg-dark">
                                                            <th><input type="checkbox"/></th>
                                                            <th>{{'MATERIALS' | translate}}</th>
                                                            <th>{{'QUANTITY' | translate}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="material in lstMaterial">
                                                            <td>
                                                                <input type="checkbox"/>
                                                            </td>
                                                            <td>
                                                                <span class="ui-select">
                                                                    <select>
                                                                        <option>Mustard</option>
                                                                        <option>Ketchup</option>
                                                                        <option>Barbecue</option>
                                                                    </select>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="material.quantity" required/>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary btn-w-md" ng-click="addNewMaterial()">{{'ADD' | translate}}</button>
                                                        <button class="btn btn-danger btn-w-md" ng-click="removeMaterial('quantity')">{{'REMOVE' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="custom-button-bottom col-md-12">
                                            <div>
                                                <button type="submit" class="btn btn-primary btn-w-md">{{'SUBMIT' | translate}}</button>
                                                <button class="btn btn-default btn-w-md">{{'REVERT_CHANGES' | translate}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

