<div class="page" data-ng-controller="ProductDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h4>{{title | translate}}
                            <small>
                                <a href="#products"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;{{'BACK_TO_PRODUCT_LIST' | translate}}</a>
                            </small>
                        </h4>
                    </div>
                    <div class="ui-tab-container ui-tab-horizontal">
                        <uib-tabset justified="false" class="ui-tab">
                            <uib-tab heading="{{'PRODUCT_INFO' | translate}}">
                                <div class="form-group fit-content">
                                    <div class="col-md-6">
                                        <label for="">{{'PRODUCT_NAME' | translate}}</label>
                                        <input  type="text"
                                                class="form-control"
                                                data-ng-model="product.tenSanPham"
                                                required>
                                        <br>
                                        <label for="">{{'PRICE' | translate}} </label>
                                        <input  type="text"
                                                class="form-control"
                                                data-ng-model="product.donGia"
                                                format="currency"
                                                required
                                                data-ng-minlength=3>
                                        <br>
                                        <label for="">{{'CATEGORY' | translate}}</label>
                                        <br>
                                        <span class="ui-select">
                                            <select>
                                                <option>Mustard</option>
                                                <option>Ketchup</option>
                                                <option>Barbecue</option>
                                            </select>
                                        </span>
                                        <br>
                                        <br>
                                        <label for="">{{'PICTURES' | translate}}</label>
                                        <br>
                                        <div ng-controller="fileCtrl" class="dropzone-custom-display">
                                            <form class="dropzone" dropzone="" id="dropzone">
                                                <div class="dz-default dz-message">
                                                </div>
                                            </form>
                                            <div>
                                                <button class="btn btn-danger btn-reset-custom" ng-click="reset()">{{'REMOVE' | translate}}</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <label for="">{{'DESCRIPTION' | translate}}</label>
                                        <section class="panel panel-default">
                                            <div class="panel-body">
                                                <div text-angular ng-model="product.moTa" class="ui-editor"></div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="custom-button-bottom col-md-11">
                                        <div>
                                            <button class="btn btn-primary btn-w-md" data-ng-click="saveInfo()"><span class="glyphicon glyphicon-save"/>&nbsp;{{'SUBMIT' | translate}}</button>
                                            <button class="btn btn-default btn-w-md" data-ng-click="revertInfo()"><span class="glyphicon glyphicon-refresh"/>&nbsp;{{'REVERT_CHANGES' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'PRODUCT_STRUCTURE' | translate}}">
                                <div class="form-group fit-content">
                                    <div class="col-md-6">
                                        <label for="">{{'DESCRIPTION' | translate}}</label>
                                        <section class="panel panel-default">
                                            <div class="panel-body">
                                                <div text-angular ng-model="mailContent" class="ui-editor"></div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">{{'MATERIALS' | translate}}</label>
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <table class="table table-striped table-bordered table-product-custom">
                                                    <thead>
                                                    <tr class="bg-dark">
                                                        <th>{{'MATERIALS' | translate}}</th>
                                                        <th>{{'QUANTITY' | translate}}</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="material in lstProductMaterial">
                                                        <td>
                                                            <span class="ui-select">
                                                                <select>
                                                                    <option>Mustard</option>
                                                                    <option>Ketchup</option>
                                                                    <option>Barbecue</option>
                                                                </select>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="material.quantity" required/>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" ng-click="removeMaterial($index)"><span class="glyphicon glyphicon-trash"/></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-w-md" ng-click="addNewMaterial()"><span class="glyphicon glyphicon-plus"/>&nbsp;{{'ADD' | translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-button-bottom col-md-11">
                                        <div>
                                            <button class="btn btn-primary btn-w-md" ng-click="saveInfo()"><span class="glyphicon glyphicon-save"/>&nbsp;{{'SUBMIT' | translate}}</button>
                                            <button class="btn btn-default btn-w-md" ng-click="revert()"><span class="glyphicon glyphicon-refresh"/>&nbsp;{{'REVERT_CHANGES' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab>
                                <img data-dz-thumbnail="" alt="Screenshot from 2017-06-27 08:12:45.png" src="http://localhost/1/today.png" width="200px">
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>