<div class="page" data-ng-controller="ProductDetailCtrl">
    <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header clearfix">
                        <div class="col-md-6 col-custom">
                            <h3>{{title | translate}}
                                <small>
                                    <a href="#products"><i class="glyphicon glyphicon-circle-arrow-left"></i>&nbsp;{{'BACK_TO_PRODUCT_LIST' | translate}}</a>
                                </small>
                            </h3>
                        </div>
                        <div class="col-md-6 col-custom text-right" ng-if="title !== 'CREATE_PRODUCT'">
                            <button class="btn btn-primary btn-w-md" ng-click="saveInfo()"><span class="glyphicon glyphicon-save"/>&nbsp;{{'SAVE' | translate}}</button>
                            <button class="btn btn-danger btn-w-md" ng-click="delete()"><span class="glyphicon glyphicon-trash"/>&nbsp;{{'DELETE' | translate}}</button>
                        </div>
                        <div class="col-md-6 col-custom text-right" ng-if="title === 'CREATE_PRODUCT'">
                            <button class="btn btn-primary btn-w-md" ng-click="create()"><span class="glyphicon glyphicon-save"/>&nbsp;{{'SAVE' | translate}}</button>
                        </div>
                    </div>
                    <div class="ui-tab-container ui-tab-horizontal">
                        <uib-tabset justified="false" class="ui-tab">
                            <uib-tab heading="{{'PRODUCT_INFO' | translate}}">
                                <div class="form-group fit-content">
                                    <form name="productInfo" novalidate>
                                        <fieldset>
                                            <div class="col-md-6">
                                                <section class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <strong>
                                                            <span data-translate="INFO"/>
                                                        </strong>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="form-group" ng-class="{ 'has-error': productInfo.tenSanPham.$touched && productInfo.tenSanPham.$invalid }">
                                                            <label>{{'PRODUCT_NAME' | translate}}</label>
                                                            <input  type="text"
                                                                    class="form-control"
                                                                    name="tenSanPham"
                                                                    data-ng-model="product.tenSanPham"
                                                                    required>
                                                            <div class="help-block" ng-messages="productInfo.tenSanPham.$error" ng-if="productInfo.tenSanPham.$touched">
                                                                <p ng-message="required">{{'MSG_PRODUCT_NAME_REQUIRED' | translate}}</p>
                                                            </div>
                                                        </div>
                                                        <label>{{'PRICE' | translate}} </label>
                                                        <input  type="text"
                                                                class="form-control"
                                                                data-ng-model="product.donGia"
                                                                format="currency"
                                                                required
                                                                data-ng-minlength=3>
                                                        <br>
                                                        <label>{{'DESCRIPTION' | translate}}</label>
                                                        <textarea class="form-control" ng-model="product.moTa" rows="5"></textarea>
                                                        <br>
                                                        <label>{{'PRODUCT_DISPLAY_STATUS' | translate}}</label>
                                                        <div>
                                                            <th class="th-checkbox"><label class="ui-checkbox"><input name="checkbox1" type="checkbox" ng-model="product.hienThi"><span data-translate="PRODUCT_PUBLISHED"></span></label></th>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-md-6">
                                                <section class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <strong>
                                                            <span data-translate="CATEGORY"/>
                                                        </strong>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped table-product-custom">
                                                                <thead>
                                                                <tr class="bg-dark">
                                                                    <th>{{'CATEGORY' | translate}}</th>
                                                                    <th class="th-button">{{'DELETE' | translate}}</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-if="product.nhomSanPhamId.length ==0"><td colspan="6" class="text-center">{{'MSG_TABLE_EMPTY' | translate}}</td></tr>
                                                                <tr>
                                                                    <td>{{product.nhomSanPhamId}}</td>
                                                                    <td>
                                                                        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"/>&nbsp;{{'DELETE' | translate}}</button>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"/>&nbsp;{{'ADD_CATEGORY' | translate}}</button>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'PICTURES' | translate}}">
                                <div class="form-group fit-content">
                                    <div class="col-md-12">
                                        <section class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>
                                                    <span data-translate="PICTURES"/>
                                                </strong>
                                            </div>
                                            <div class="panel-body">
                                                <div ng-controller="fileCtrl" class="dropzone-custom-display">
                                                    <form class="dropzone" dropzone="" id="dropzone">
                                                        <div class="dz-default dz-message">
                                                        </div>
                                                    </form>
                                                    <div class="btn-reset-custom">
                                                        <button class="btn btn-danger " ng-click="reset()">{{'REMOVE' | translate}}</button>
                                                        <button class="btn btn-primary" ng-click="uploadFile()">{{'UPLOAD' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'PRODUCT_STRUCTURE' | translate}}">
                                <div class="form-group fit-content">
                                    <div class="col-md-5">
                                        <label for="">{{'LIST_MATERIAL' | translate}}</label>
                                        <div class="panel panel-default">
                                            <div class="panel-body scroll-custom">
                                                <input type="text"
                                                       placeholder="{{ 'SEARCH' | translate }}"
                                                       class="form-control"
                                                       data-ng-model="keyword"
                                                       data-ng-keyup="search(keyword)">
                                                <br>
                                                <table class="table table-striped table-bordered table-product-custom">
                                                    <thead>
                                                    <tr class="bg-dark">
                                                        <th>{{'MATERIALS' | translate}}</th>
                                                        <th class="th-button"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-if="lstData.length ==0"><td colspan="2" class="text-center">{{'MSG_TABLE_EMPTY' | translate}}</td></tr>
                                                    <tr ng-repeat="material in lstData">
                                                        <td>
                                                            {{material.ten}}
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-primary" ng-click="addProductMaterial(material, $index)"><span class="glyphicon glyphicon-plus"/></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="text-align: center;"> >> </div>
                                    <div class="col-md-6">
                                        <label for="">{{'MATERIALS' | translate}}</label>
                                        <div class="panel panel-default">
                                            <div class="panel-body scroll-custom">
                                                <table class="table table-striped table-bordered table-product-custom">
                                                    <thead>
                                                    <tr class="bg-dark">
                                                        <th>{{'MATERIALS' | translate}}</th>
                                                        <th>{{'QUANTITY' | translate}}</th>
                                                        <th class="th-button"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-if="lstProductMaterial.length ==0"><td colspan="3" class="text-center">{{'MSG_TABLE_EMPTY' | translate}}</td></tr>
                                                    <tr ng-repeat="material in lstProductMaterial">
                                                        <td>
                                                            {{material.nguyenLieuDTO.ten}}
                                                        </td>
                                                        <td>
                                                            <input type="number" class="form-control" ng-model="material.soLuong" required/>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" ng-click="removeMaterial(material, $index)"><span class="glyphicon glyphicon-trash"/></button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>