<div class="page page-table" data-ng-controller="CategoriesCtrl">
    <div ng-if="alerts.length > 0">
        <uib-alert type="{{alerts[alerts.length - 1].type}}" close="closeAlert($index)">{{alerts[alerts.length - 1].msg | translate}}</uib-alert>
    </div>
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading clearfix">
            <strong>
                <span class="glyphicon glyphicon-th"/>
                <span data-translate="CATEGORY"/>
            </strong>

            <div class="pull-right">
                <a href="#products/create" class="btn btn-primary btn-w-md"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{'ADD' | translate}}</a>
                <button class="btn btn-success btn-w-md"><span class="glyphicon glyphicon-save"></span>&nbsp;{{'EXPORT' | translate}}</button>
                <button class="btn btn-danger btn-w-md" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span>&nbsp;{{'DELETE' | translate}}&nbsp;({{'SELECTED' | translate}})</button>
            </div>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="{{ 'SEARCH' | translate }}"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        {{'SHOWING' | translate }} {{filtered.length}}/{{lstProduct.length}} {{'ENTRIES' | translate }}
                    </span>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-product-custom">
                    <thead>
                    <tr class="bg-dark">
                        <th class="th-checkbox"><label class="ui-checkbox"><input name="checkbox1" ng-checked="isCheck" type="checkbox" ng-click="selectAll(lstCategories)"><span></span></label></th>
                        <th class="th-picture-custom"><div class="th">
                            {{'PICTURES' | translate}}
                        </div>

                        </th>
                        <th><div class="th">
                            {{'CATEGORY_NAME' | translate}}
                            <span class="fa fa-angle-up"
                                  data-ng-click=" order('ten_nhom') "
                                  data-ng-class="{active: row == 'ten_nhom'}"></span>
                            <span class="fa fa-angle-down"
                                  data-ng-click=" order('-ten_nhom') "
                                  data-ng-class="{active: row == '-ten_nhom'}"></span>
                        </div></th>
                        <th><div class="th">
                            {{'CATEGORY_DES' | translate}}
                            <span class="fa fa-angle-up"
                                  data-ng-click=" order('mota') "
                                  data-ng-class="{active: row == 'mota'}"></span>
                            <span class="fa fa-angle-down"
                                  data-ng-click=" order('-mota') "
                                  data-ng-class="{active: row == '-mota'}"></span>
                        </div></th>
                        <th><div class="th">
                            {{'CATEGORY_DISPLAY' | translate}}
                            <span class="fa fa-angle-up"
                                  data-ng-click=" order('hienthi') "
                                  data-ng-class="{active: row == 'hienthi'}"></span>
                            <span class="fa fa-angle-down"
                                  data-ng-click=" order('-hienthi') "
                                  data-ng-class="{active: row == '-hienthi'}"></span>
                        </div></th>
                        <th class="th-button">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="category in lstData">
                        <td class="td-checkbox"><label class="ui-checkbox"><input name="checkbox1" ng-model="category.selected" ng-click="selectedRow(category)" type="checkbox" ><span></span></label></td>
                        <td><img src="http://wallpapersdsc.net/wp-content/uploads/2016/09/Yogurt-Images.jpg" class="image-table-custom"/></td>
                        <td>
                            <span editable-text="category.tenSanPham" e-name="tenSanPham" e-form="rowform" e-required>
                                {{category.tenSanPham}}</span>
                        </td>
                        <td class="price-custom">
                            <span editable-text="category.donGia" e-name="donGia" e-form="rowform" e-required>
                            {{category.donGia | customCurrency}}</span>
                        </td>
                        <td>
                            <span editable-text="category.moTa" e-name="moTa" e-form="rowform" e-required>
                            {{category.moTa}}</span>
                        </td>
                        <td>
                            <form editable-form name="rowform" onbeforesave="update($data)" ng-show="rowform.$visible"
                                  class="form-buttons form-inline" shown="inserted == material">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    {{'SAVE' | translate}}
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    {{'CANCEL' | translate}}
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-default" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{'EDIT' | translate}}</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'SHOW' | translate}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onChange()">
                        </select>
                        {{'ENTRIES_PER_PAGE' | translate}}
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filtered.length"
                                    max-size="4"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>
</div>