body {
    font-family:  "Helvetica Neue",Arial,sans-serif;
}

.custom-button-bottom{
    position: absolute;
    bottom: 15px;
    text-align: center;
}
.fit-content{
    display: block;
    overflow: auto;
    margin-bottom: 45px;
}
.table-product-custom>tbody>tr>td,
.table-material-custom>tbody>tr>td{
    padding: 5px 5px 5px 15px;
    vertical-align: middle;
}

.table-product-custom>thead>tr>th,
.table-material-custom>thead>tr>th{
    padding: 5px 5px 5px 15px !important;
    vertical-align: middle;
}

.table-margin-custom{
    margin-bottom: 0px;
}
.th-checkbox{
    width: 44px;
}
.th-button{
    width: 180px;
}
.th-button-min{
    width: 70px;
}

