body {
    font-family:  "Helvetica Neue",Arial,sans-serif;
}

.custom-button-bottom{
    position: absolute;
    bottom: 15px;
    text-align: center;
}
.fit-content{
    display: block;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.table-product-custom>tbody>tr>td,
.table-material-custom>tbody>tr>td{
    padding: 5px 15px 5px 15px;
    vertical-align: middle;
}

.table-product-custom>thead>tr>th,
.table-material-custom>thead>tr>th{
    padding: 5px 5px 5px 15px !important;
    vertical-align: middle;
}
.table-dynamic .table-bordered thead th>.th {
    padding: 8px 0px 8px 0px !important;
}

.table-margin-custom{
    margin-bottom: 0px;
}
.th-checkbox{
    width: 44px;
}
.td-checkbox{
    padding: 5px 5px 5px 15px !important;
}
.th-button{
    white-space: nowrap;
    width: 1%;
    min-width: 70px;
}
.th-button-min{
    width: 70px;
}
.col-custom{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.image-table-custom{
    width: 70px;
    height: 70px;
}
.th-picture-custom{
    width: 100px;
}
.ui-checkbox {
    margin: 0px 0px 0px 20px !important;
}
.price-custom{
    text-align: right;
}
.scroll-custom{
    height: 400px;
    overflow: auto;
    margin-top: 15px;
}
.text-row-custom{
    padding-top: 5px;
}
.note{
    font-style: italic;
}
.tr-total-custom>td{
    border: hidden !important;
}