.text-color-red{
    color: red;
}
.text-color-blue{
    color: #00b7ff;
}
.button-bottom-right{
    text-align: right;
    margin-top: 10px;
}
/* ====== ====== */
.ta-editor.form-control.editor-height,
.ta-scroll-window.form-control.editor-height  {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.form-control.editor-height > .ta-bind {
    height: auto;
    min-height: 200px;
    padding: 6px 12px;
}

.th-checkbox{
    width: 40px;
}
.th > .ui-checkbox {
    margin: 0px 0px 0px 20px !important;
}
.td-checkbox > .ui-checkbox {
    margin: 0px 0px 0px 20px !important;
}
.table-dynamic .table-bordered thead th>.th {
    padding: 15px 20px 15px 15px !important;
}
.table>thead>tr>th {
    vertical-align: middle !important;
}
.col-left-custom{
    padding-left: 0 !important;
}
.col-right-custom{
    padding-right: 0 !important;
}
.ui-select{
    width: 100% !important;
    margin: 0 !important;
}
.ui-select>select{
    width: 100% !important;
}
.border-bottom{
    border-top: none;
    border-left: none;
    border-right: none;
}