.text-color-red{
    color: red;
}
.button-bottom-right{
    text-align: right;
    margin-top: 10px;
}
/* ====== ====== */
.ta-editor.form-control.editor-height,
.ta-scroll-window.form-control.editor-height  {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.form-control.editor-height > .ta-bind {
    height: auto;
    min-height: 200px;
    padding: 6px 12px;
}
