
<div class="page page-table" data-ng-controller="StoreAdjustCtrl">
    <div ng-if="alerts.length > 0">
        <uib-alert type="{{alerts[0].type}}" close="closeAlert()">{{alerts[0].msg | translate}}</uib-alert>
    </div>
    <section class="panel panel-default table-dynamic" style="display: flow-root;">
        <div class="panel-heading clearfix">
            <strong><span data-translate="TITLE_STORE_ADJUST"></span>
            </strong>
            <a href="#store"><i class="glyphicon glyphicon-circle-arrow-left"></i> {{'LABEL_BACK_TO_STORE_LIST' | translate}}</a>
            <div class="pull-right" style="text-transform: none;">
                <button class="btn btn-info"><span class="glyphicon glyphicon-export"></span> {{'BTN_IMPORT' | translate}}</button>
            </div>
        </div>
        <div class="col-md-9" style="border-style: groove;border-color: aliceblue; border-bottom: none; border-left: none; border-top: none;">
            <div class="table-filters">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label data-translate="LABEL_MATERIAL_CODE"></label>
                        </div>
                        <div class="col-md-5">
                            <input type="text"
                                   placeholder="{{'MATERIAL_CODE' | translate}}"
                                   data-ng-model="searchKeyWord"
                                   uib-typeahead="st as st.inventoryName for st in stockTrans | filter:{inventoryName:$viewValue} | limitTo:8"
                                   typeahead-on-select="onSelect($item)"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div id="dataTable" class="table-responsive text-size-10">
                <table class="table table-bordered table-striped table-material">
                    <thead>
                    <tr class="bg-dark-light">
                        <th><div class="th">
                        </div></th>
                        <th><div class="th">
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_MATERIAL_CODE' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_MATERIAL_NAME' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_QUANTITY_IN_STOCK' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_QUANTITY_ADJUST' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_REAL_QUANTITY' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_NOTE' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_CAPITAL_COST' | translate}}
                        </div></th>
                        <th><div class="th">
                            {{'LABEL_COUPON_INTO_MONEY' | translate}}
                        </div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="st in selectedMaterial">
                        <td>{{$index + 1}}</td>
                        <td>
                            <button type="button" ng-click="remove($index, st)" class="close text-color-red "><span>&times;</span></button>
                        </td>
                        <td>{{st.inventoryCode}}</td>
                        <td>{{st.inventoryName}}</td>
                        <td>
                            <input type="number"
                                   data-ng-model="st.quantity"
                                   ng-blur="calculateTotal()"
                                   class="form-control border-bottom text-size-10">
                        </td>
                        <td>
                            <input type="number"
                                   data-ng-model="st.adjust"
                                   ng-blur="calculateTotal()"
                                   class="form-control border-bottom text-size-10">
                        </td>
                        <td>
                            {{st.realQuantity}}  </td>
                        <td>
                            <input type="text"
                                   data-ng-model="st.note"
                                   class="form-control border-bottom text-size-10">
                        </td>
                        <td>
                            <input type="text"
                                   format="number"
                                   data-ng-model="st.unitPrice"
                                   ng-blur="calculateTotal(st.unitPrice, 'unitPrice', $index)"
                                   class="form-control border-bottom text-size-10">
                        </td>
                        <td>
                            {{st.totalPrice | number}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                <span>
                    {{'LABEL_SHOW'| translate}}
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt">
                    </select>
                    {{'LABEL_ENTRIES_PER_PAGE'| translate}} {{'LABEL_RESULT' | translate}} {{selectedMaterial.length}} record)
                </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <uib-pagination class="pagination-sm"
                                        ng-model="currentPage"
                                        total-items="selectedMaterial.length"
                                        max-size="4"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        boundary-links="true"></uib-pagination>
                    </div>
                </div>
            </footer>
        </div>
        <div class="col-md-3">
            <div class="text-right">
                <h5>{{CurrentDate | date:'dd/MM/yyyy hh:mm:ss'}}</h5>
            </div>
            <hr>
            <div>
                <div class="form-group row">
                    <div class="col-md-5 col-right-custom">
                        <label data-translate="LABEL_COUPON_CODE"></label>
                    </div>
                    <div class="col-md-7">
                        <input type="text"
                               placeholder="{{'LABEL_COUPON_CODE_AUTO' | translate}}"
                               ng-disabled="true"
                               class="form-control border-bottom">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5 col-right-custom">
                        <label data-translate="LABEL_COUPON_STATUS"></label>
                    </div>
                    <div class="col-md-7">
                        Phiếu tạm
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-right-custom">
                        <label data-translate="LABEL_COUPON_TOTAL_BY_STORE"></label>
                    </div>
                    <div class="col-md-6 col-left-custom text-right">
                        {{total.storeAmount | customCurrency}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-right-custom">
                        <label data-translate="LABEL_COUPON_TOTAL_ADJUST"></label>
                    </div>
                    <div class="col-md-6 col-left-custom text-right">
                        {{total.adjustAmount | customCurrency}}
                    </div>
                </div>
                <hr style="width: 40%;" align="right">
                <div class="form-group row">
                    <div class="col-md-6 col-right-custom">
                        <label data-translate="LABEL_COUPON_REAL_TOTAL"></label>
                    </div>
                    <div class="col-md-6 col-left-custom text-right text-color-blue">
                        {{total.realAmount | customCurrency}}
                    </div>
                </div>
                <div class="form-group row text-right" style="padding-top: 50px;">
                    <div class="col-md-12">
                        <button class="btn btn-info ng-binding"><span class="glyphicon glyphicon-save"></span> Lưu tạm</button>
                        <button class="btn btn-info ng-binding"><span class="glyphicon glyphicon-save"></span> Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>