        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-translate="DASHBOARD"></span></a>
        </li>
        <li>
            <a href="#/products"><i class="glyphicon glyphicon-shopping-cart"></i><span data-translate="TITLE_PRODUCTS"></span></a>
        </li>
        <li>
            <a href="#/category"><i class="fa fa-table"></i><span data-translate="CATEGORY"></span></a>
        </li>
        <li>
            <a href="#/store"><i class="glyphicon glyphicon-hdd"></i><span data-translate="TITLE_STORE"></span></a>
        </li>
        <li>
            <a href="#/customers"><i class="glyphicon glyphicon-user"></i><span data-translate="CUSTOMERS"></span></a>
        </li>
        <li>
            <a href="#/sales"><i class="glyphicon glyphicon-usd"></i><span data-translate="SALES"></span></a>
        </li>
    </ul>
</div>