        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/orders"><i class="glyphicon glyphicon-list-alt"></i><span data-translate="ORDERS"></span></a>
        </li>
        <li>
            <a href="#/products"><i class="glyphicon glyphicon-shopping-cart"></i><span data-translate="PRODUCTS"></span></a>
        </li>
        <li>
            <a href="#/store"><i class="glyphicon glyphicon-hdd"></i><span data-translate="STORE"></span></a>
        </li>
        <li>
            <a href="#/customers"><i class="glyphicon glyphicon-user"></i><span data-translate="CUSTOMERS"></span></a>
        </li>
        <li>
            <a href="#/sales"><i class="glyphicon glyphicon-usd"></i><span data-translate="SALES"></span></a>
        </li>
    </ul>
</div>