<div class="page page-table" data-ng-controller="StoreCtrl">
    <div ng-if="alerts.length > 0">
        <uib-alert type="{{alerts[alerts.length - 1].type}}" close="closeAlert($index)">{{alerts[alerts.length - 1].msg | translate}}</uib-alert>
    </div>
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading clearfix">
            <strong>
                <span class="glyphicon glyphicon-th"/>
                <span data-translate="MATERIALS"/>
            </strong>
            <div class="pull-right">
                <a href="#stores-import" class="btn btn-primary btn-w-md"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{'IMPORT'
                    | translate}}</a>
                <button class="btn btn-success btn-w-md"><span class="glyphicon glyphicon-save"></span>&nbsp;{{'EXPORT'
                    | translate}}
                </button>
                <button class="btn btn-danger btn-w-md" ng-click="delete()"><span class="glyphicon glyphicon-trash"></span>&nbsp;{{'DELETE'
                    | translate}}&nbsp;({{'SELECTED' | translate}})
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-material-custom">
                    <thead>
                    <tr class="bg-dark">
                        <th class="th-checkbox"><label class="ui-checkbox"><input name="checkbox1" ng-checked="isCheck" ng-click="selectAll(lstMaterial)" type="checkbox" ><span></span></label></th>
                        <th>
                            <div class="th">
                                {{'MATERIALS' | translate}}
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('ten') "
                                      data-ng-class="{active: row == 'ten'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-ten') "
                                      data-ng-class="{active: row == '-ten'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                {{'QUANTITY' | translate}}
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('soLuong') "
                                      data-ng-class="{active: row == 'soLuong'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-soLuong') "
                                      data-ng-class="{active: row == '-soLuong'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                {{'UNIT' | translate}}
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('donVi') "
                                      data-ng-class="{active: row == 'donVi'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-donVi') "
                                      data-ng-class="{active: row == '-donVi'}"></span>
                            </div>
                        </th>
                        <th class="th-button"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="material in lstData">
                        <td class="td-checkbox"><label class="ui-checkbox"><input name="checkbox1" ng-model="material.selected" ng-click="selectedRow(material)" type="checkbox" ><span></span></label></td>
                        <td>
                            <span editable-text="material.ten" e-name="ten" e-form="rowform" e-required>
                            {{ material.ten || ' '}}
                            </span>
                        </td>
                        <td>
                            <span editable-number="material.soLuong" e-name="soLuong" e-form="rowform">
                            {{ material.soLuong || ' '}}
                            </span>
                        </td>
                        <td>
                            <span editable-text="material.donVi" e-name="donVi" e-form="rowform">
                            {{ material.donVi || ' '}}
                            </span>
                        </td>
                        <td style="white-space: nowrap;">
                            <!-- form -->
                            <form editable-form name="rowform" ng-show="rowform.$visible"
                                  class="form-buttons form-inline" shown="inserted == material">
                                <button type="submit" data-ng-click="update($index)" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    {{'SAVE' | translate}}
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                        class="btn btn-default">
                                    {{'CANCEL' | translate}}
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-default" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{'EDIT' | translate}}</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    <span>
                        {{'SHOW' | translate}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onChange()">
                        </select>
                        {{'ENTRIES_PER_PAGE' | translate}}
                    </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <uib-pagination class="pagination-sm"
                                        ng-model="currentPage"
                                        total-items="filtered.length"
                                        max-size="4"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        boundary-links="true"></uib-pagination>
                    </div>
                </div>
            </footer>
        </div>
    </section>
    {{lstMaterial[0] | json}}
</div>