
<div class="page page-table" data-ng-controller="StoreCtrl">
    <div ng-if="alerts.length > 0">
        <uib-alert type="{{alerts[0].type}}" close="closeAlert()">{{alerts[0].msg | translate}}</uib-alert>
    </div>
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading clearfix">
            <strong><span data-translate="TITLE_STORE_MANAGE"></span></strong>
            <div class="pull-right" style="text-transform: none;">
                <button class="btn btn-info"><span class="glyphicon glyphicon-search"></span> {{'BTN_SEARCH_TRANSACTION' | translate}}</button>
                <button class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> {{'BTN_WAREHOUSING' | translate}}</button>
                <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> {{'BTN_ADJUST' | translate}}</button>
                <a href="#store/addnew" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> {{'BTN_ADD_NEW' | translate}}</a>
                <button class="btn btn-info" data-ng-click="export()"><span class="glyphicon glyphicon-export"></span> {{'BTN_EXPORT' | translate}}</button>
            </div>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_MATERIAL_CODE"></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               placeholder="{{'MATERIAL_CODE' | translate}}"
                               class="form-control"
                               data-ng-model="searchCode">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_MATERIAL_NAME"></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               placeholder="{{'MATERIAL_NAME' | translate}}"
                               class="form-control"
                               data-ng-model="searchName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_MATERIAL_STATUS"></label>
                    </div>
                    <div class="col-md-9">
                        <span class="ui-select">
                            <select ng-model="searchStatus">
                                <option value="" ng-selected="true">-- {{'LABEL_PLEASE_CHOOSE_STATUS' | translate}} --</option>
                                <option value="0">{{'LABEL_STATUS_DELETED' | translate}}</option>
                                <option value="1">{{'LABEL_STATUS_IN_STOCK' | translate}}</option>
                                <option value="2">{{'LABEL_STATUS_OUT_OF_STOCK' | translate}}</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_MATERIAL_TYPE"></label>
                    </div>
                    <div class="col-md-9">
                        <span class="ui-select">
                            <select ng-model="searchType">
                                <option value="" ng-selected="true">-- {{'LABEL_PLEASE_CHOOSE_MATERIAL_TYPE' | translate}} --</option>
                                <option value="0">{{'LABEL_STATUS_DELETED' | translate}}</option>
                                <option value="1">{{'LABEL_STATUS_IN_STOCK' | translate}}</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-info" data-ng-click="search()"><span class="glyphicon glyphicon-search"></span> {{'BTN_SEARCH' | translate}}</button>
                </div>
            </div>
        </div>

        <div id="dataTable" class="table-responsive">
            <table class="table table-bordered table-striped table-material">
                <thead>
                <tr class="bg-dark-light">
                    <th class="th-checkbox"><div class="th">
                        <label class="ui-checkbox"><input name="checkbox1" type="checkbox"><span></span></label>
                    </div></th>
                    <th><div class="th">
                        {{'MATERIAL_CODE' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('inventoryCode') "
                              data-ng-class="{active: row == 'inventoryCode'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-inventoryCode') "
                              data-ng-class="{active: row == '-inventoryCode'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'MATERIAL_NAME' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('inventoryName') "
                              data-ng-class="{active: row == 'inventoryName'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-inventoryName') "
                              data-ng-class="{active: row == '-inventoryName'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'MATERIAL_IN_STOCK' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('quantity') "
                              data-ng-class="{active: row == 'quantity'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-quantity') "
                              data-ng-class="{active: row == '-quantity'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'MATERIAL_TYPE' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('inventoryType') "
                              data-ng-class="{active: row == 'inventoryType'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-inventoryType') "
                              data-ng-class="{active: row == '-inventoryType'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'MATERIAL_STATUS' | translate}}
                    </div></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="material in listMaterial">
                    <td class="td-checkbox"><label class="ui-checkbox"><input name="checkbox1" ng-model="selected" ng-click="open(selected, $index)" type="checkbox"><span></span></label></td>
                    <td>{{material.inventoryCode}}</td>
                    <td>{{material.inventoryName}}</td>
                    <td>{{material.quantity}}</td>
                    <td>{{material.inventoryType}}</td>
                    <td>{{material.status | materialStatus | translate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'LABEL_SHOW'| translate}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt">
                        </select>
                        {{'LABEL_RESULT' | translate}} {{data.length}} record.
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="data.length"
                                    max-size="4"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>
    <script type="text/ng-template" id="modalInfoMaterial.html">
        <div class="modal-header">
            <h4>Tên hàng hóa</h4>
        </div>
        <div class="modal-body">
            <div ng-include=" 'app/components/store/store.info.modal.html' "></div>
        </div>
    </script>
    <script type="text/ng-template" id="modalConfirmUpdate.html">
        <div class="modal-header">
            <h5>{{'LABEL_MATERIAL_CONFIRM_UPDATE' | translate}}</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">{{'BTN_OK' | translate}}</button>
            <button class="btn btn-toolbar" ng-click="cancel()">{{'BTN_CANCEL' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="modalConfirmDelete.html">
        <div class="modal-header">
            <h5>{{'LABEL_MATERIAL_CONFIRM_DELETE' | translate}}</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">{{'BTN_OK' | translate}}</button>
            <button class="btn btn-toolbar" ng-click="cancel()">{{'BTN_CANCEL' | translate}}</button>
        </div>
    </script>
</div>