<div class="page page-table" data-ng-controller="StoreCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading clearfix">
            <strong>
                <span class="glyphicon glyphicon-th"/>
                <span data-translate="MATERIALS"/>
            </strong>
            <div class="pull-right">
                <a href="#store-import" class="btn btn-primary btn-w-md"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{'IMPORT'
                    | translate}}</a>
                <button class="btn btn-success btn-w-md"><span class="glyphicon glyphicon-save"></span>&nbsp;{{'EXPORT'
                    | translate}}
                </button>
                <button class="btn btn-danger btn-w-md"><span class="glyphicon glyphicon-trash"></span>&nbsp;{{'DELETE'
                    | translate}}&nbsp;({{'SELECTED' | translate}})
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-material-custom">
                    <thead>
                    <tr class="bg-dark">
                        <th class="th-checkbox"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"/></th>
                        <th>
                            <div class="th">
                                {{'MATERIALS' | translate}}
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('name') "
                                      data-ng-class="{active: row == 'name'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-name') "
                                      data-ng-class="{active: row == '-name'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                {{'QUANTITY' | translate}}
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('name') "
                                      data-ng-class="{active: row == 'name'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-name') "
                                      data-ng-class="{active: row == '-name'}"></span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                {{'UNIT' | translate}}
                                <span class="fa fa-angle-up"
                                      data-ng-click=" order('name') "
                                      data-ng-class="{active: row == 'name'}"></span>
                                <span class="fa fa-angle-down"
                                      data-ng-click=" order('-name') "
                                      data-ng-class="{active: row == '-name'}"></span>
                            </div>
                        </th>
                        <th class="th-button"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="material in lstMaterial">
                        <td><input type="checkbox" ng-model="selectedAll"/></td>
                        <td>
                            <span editable-text="material.name" e-name="name" e-form="rowform" e-required>
                            {{ material.name || '1'}}
                            </span>
                        </td>
                        <td>
                            <span editable-text="material.quantity" e-name="quantity" e-form="rowform">
                            {{ material.quantity || '1'}}
                            </span>
                        </td>
                        <td>
                            <span editable-text="material.unit" e-name="unit" e-form="rowform">
                            {{ material.unit || '1'}}
                            </span>
                        </td>
                        <td style="white-space: nowrap;">
                            <!-- form -->
                            <form editable-form name="rowform" ng-show="rowform.$visible"
                                  class="form-buttons form-inline" shown="inserted == material">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    {{'SAVE' | translate}}
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                        class="btn btn-default">
                                    {{'CANCEL' | translate}}
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-default" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{'EDIT' | translate}}</button>
                                <button class="btn btn-danger" ng-click="removeUser($index)"><span class="glyphicon glyphicon-trash"></span>&nbsp;{{'DELETE' | translate}}</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    <span>
                        {{'SHOW' | translate}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        {{'ENTRIES_PER_PAGE' | translate}}
                    </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <uib-pagination class="pagination-sm"
                                        ng-model="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        ng-change="select(currentPage)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        previous-text="&lsaquo;" next-text="&rsaquo;"
                                        boundary-links="true"></uib-pagination>
                    </div>
                </div>
            </footer>
        </div>
    </section>
</div>