
<div class="page page-table" data-ng-controller="StoreSearchCtrl">
    <div ng-if="alerts.length > 0">
        <uib-alert type="{{alerts[0].type}}" close="closeAlert()">{{alerts[0].msg | translate}}</uib-alert>
    </div>
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading clearfix">
            <strong><span data-translate="TITLE_STORE_SEARCH"></span>
            </strong>
            <a href="#store"><i class="glyphicon glyphicon-circle-arrow-left"></i> {{'LABEL_BACK_TO_STORE_LIST' | translate}}</a>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_COUPON_CODE"></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text"
                               placeholder="{{'LABEL_COUPON_CODE' | translate}}"
                               class="form-control"
                               data-ng-model="searchCode">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_COUPON_TYPE_TICKET"></label>
                    </div>
                    <div class="col-md-9">
                        <span class="ui-select">
                            <select ng-model="type">
                                <option value="">-- {{'LABEL_PLEASE_CHOOSE_STOCK_TRANS_TYPE' | translate}} --</option>
                                <option ng-repeat="type in searchTypeStockTrans track by $index" value="{{type.optionSetValue}}">{{type.optionSetName}}</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-controller="DatepickerCtrl">
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_SEARCH_START_DATE"></label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ui-datepicker">
                            <input type="text"
                                   class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="date.startDate"
                                   is-open="popup1.opened"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats" />
                            <span class="input-group-addon" ng-click="open1()"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-3">
                        <label data-translate="LABEL_SEARCH_END_DATE"></label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group ui-datepicker">
                            <input type="text"
                                   class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="date.endDate"
                                   is-open="popup2.opened"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   close-text="Close"
                                   alt-input-formats="altInputFormats" />
                            <span class="input-group-addon" ng-click="open2()"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-info" data-ng-click="search()"><span class="glyphicon glyphicon-search"></span> {{'BTN_SEARCH' | translate}}</button>
                </div>
            </div>
        </div>

        <div id="dataTable" class="table-responsive">
            <table class="table table-bordered table-striped table-material">
                <thead>
                <tr class="bg-dark-light">
                    <th class="th-checkbox"><div class="th">
                        <label class="ui-checkbox"><input name="checkbox1" type="checkbox"><span></span></label>
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_COUPON_CODE' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('inventoryCode') "
                              data-ng-class="{active: row == 'inventoryCode'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-inventoryCode') "
                              data-ng-class="{active: row == '-inventoryCode'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_COUPON_TYPE_TICKET' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('inventoryName') "
                              data-ng-class="{active: row == 'inventoryName'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-inventoryName') "
                              data-ng-class="{active: row == '-inventoryName'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_SEARCH_TIME' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('quantity') "
                              data-ng-class="{active: row == 'quantity'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-quantity') "
                              data-ng-class="{active: row == '-quantity'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_SEARCH_CREATED_BY' | translate}}
                        <span class="fa fa-angle-up"
                              data-ng-click=" sort('inventoryType') "
                              data-ng-class="{active: row == 'inventoryType'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" sort('-inventoryType') "
                              data-ng-class="{active: row == '-inventoryType'}"></span>
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_SEARCH_TOTAL' | translate}}
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_SEARCH_DISCOUNT' | translate}}
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_SEARCH_VAT' | translate}}
                    </div></th>
                    <th><div class="th">
                        {{'LABEL_SEARCH_NOTE' | translate}}
                    </div></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="st in stocktrans">
                    <td class="td-checkbox"><label class="ui-checkbox"><input name="checkbox1" ng-model="selected" ng-click="open(selected, $index)" type="checkbox"><span></span></label></td>
                    <td>{{material.inventoryCode}}</td>
                    <td>{{material.inventoryName}}</td>
                    <td>{{material.quantity}}</td>
                    <td>{{material.inventoryType | materialType | translate}}</td>
                    <td>{{material.status | materialStatus | translate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        {{'LABEL_SHOW'| translate}}
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt">
                        </select>
                        {{'LABEL_ENTRIES_PER_PAGE'| translate}} {{'LABEL_RESULT' | translate}} {{data.length}} record)
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <uib-pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="data.length"
                                    max-size="4"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                    boundary-links="true"></uib-pagination>
                </div>
            </div>
        </footer>
    </section>
    <script type="text/ng-template" id="modalInfoMaterial.html">
        <div class="modal-header">
            <h4 class="col-md-11">{{selectedMaterial.inventoryName}}</h4>
            <button type="button" ng-click="cancel()" class="close col-md-1 text-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div ng-include=" 'app/components/store/store.info.modal.html' "></div>
        </div>
    </script>
    <script type="text/ng-template" id="modalConfirmUpdate.html">
        <div class="modal-header">
            <h5>{{'LABEL_MATERIAL_CONFIRM_UPDATE' | translate}}</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">{{'BTN_OK' | translate}}</button>
            <button class="btn btn-toolbar" ng-click="cancel()">{{'BTN_CANCEL' | translate}}</button>
        </div>
    </script>
    <script type="text/ng-template" id="modalConfirmDelete.html">
        <div class="modal-header">
            <h5>{{'LABEL_MATERIAL_CONFIRM_DELETE' | translate}}</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">{{'BTN_OK' | translate}}</button>
            <button class="btn btn-toolbar" ng-click="cancel()">{{'BTN_CANCEL' | translate}}</button>
        </div>
    </script>
</div>